<div class="container">
    <p>for Book SHop Login Please Login First !!</p>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <h6>Please enter email & password !!</h6>
                </div>
                <!-- <form action=""> -->
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <span *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')" class="text-danger">*Email is Required</span>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                          <span *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')" class="text-danger">*password is Required</span>
                        </div>
                       
                        <button [disabled]="! loginForm.valid" type="submit" class="btn btn-primary">Submit</button>
                      </form>
                      <a href="/register">new User ? signup here</a>
                <!-- </form> -->
            </div>
        </div>
    </div>
</div>